<div class="container" style="margin: 50px auto">
    <div class="row">
        <p class="text-end">Hola {{usuario}}!<a class="btn btn-sm btn-danger" href="/admin/login/logout">Cerrar
                sesion<i class="fa fa-sign-out"></i>
            </a></p>
    </div>
</div>